# Pandas

In [3]:
import pandas as pd
import numpy as np

In [3]:
pd.Series([1, 2, 'jadi', 3, np.nan])

0       1
1       2
2    jadi
3       3
4     NaN
dtype: object

In [5]:
dates = pd.date_range("20220101", periods=6)
dates

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06'],
              dtype='datetime64[ns]', freq='D')

In [6]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=['a', 'b', 'c', 'd'])
df

                   a         b         c         d
2022-01-01 -0.489812  0.303846  2.111825  0.380695
2022-01-02 -1.817578 -0.726412 -0.708440 -0.858038
2022-01-03  0.730111 -0.754978  0.579988 -0.749395
2022-01-04  1.068826 -0.090091 -0.733707 -1.358661
2022-01-05  0.398804 -0.196206 -1.344299  0.862671
2022-01-06 -1.224277 -0.912878 -1.129798 -0.568251

In [12]:
df["a"]

2022-01-01   -0.045116
2022-01-02   -1.093525
2022-01-03    0.672009
2022-01-04    0.609738
2022-01-05   -1.026023
2022-01-06    0.412401
Freq: D, Name: a, dtype: float64

In [13]:
df.head(2)

                   a         b         c         d
2022-01-01 -0.045116 -0.639844 -1.110731  1.223154
2022-01-02 -1.093525 -0.544351 -1.231535 -0.239177

In [14]:
df.tail(2)

                   a         b         c         d
2022-01-05 -1.026023 -0.144460  0.310349 -0.859411
2022-01-06  0.412401  0.801491  0.534855 -1.361636

In [15]:
df.describe()

              a         b         c         d
count  6.000000  6.000000  6.000000  6.000000
mean  -0.078419 -0.185011 -0.626845 -0.282909
std    0.800888  0.940648  0.819253  0.925966
min   -1.093525 -1.534553 -1.231535 -1.361636
25%   -0.780796 -0.615971 -1.197495 -0.829012
50%    0.183643 -0.344406 -1.074161 -0.488496
75%    0.560404  0.565003 -0.026637  0.148278
max    0.672009  0.951652  0.534855  1.223154

In [16]:
df.mean()

a   -0.078419
b   -0.185011
c   -0.626845
d   -0.282909
dtype: float64

In [18]:
df["a"].mean()

-0.07841926534283734

In [19]:
df.T

   2022-01-01  2022-01-02  2022-01-03  2022-01-04  2022-01-05  2022-01-06
a   -0.045116   -1.093525    0.672009    0.609738   -1.026023    0.412401
b   -0.639844   -0.544351    0.951652   -1.534553   -0.144460    0.801491
c   -1.110731   -1.231535   -1.037592   -1.226416    0.310349    0.534855
d    1.223154   -0.239177    0.277430   -0.737814   -0.859411   -1.361636

In [21]:
df.sort_values(by="b")

                   a         b         c         d
2022-01-04  0.609738 -1.534553 -1.226416 -0.737814
2022-01-01 -0.045116 -0.639844 -1.110731  1.223154
2022-01-02 -1.093525 -0.544351 -1.231535 -0.239177
2022-01-05 -1.026023 -0.144460  0.310349 -0.859411
2022-01-06  0.412401  0.801491  0.534855 -1.361636
2022-01-03  0.672009  0.951652 -1.037592  0.277430

In [22]:
df[df["a"]>0]

                   a         b         c         d
2022-01-03  0.672009  0.951652 -1.037592  0.277430
2022-01-04  0.609738 -1.534553 -1.226416 -0.737814
2022-01-06  0.412401  0.801491  0.534855 -1.361636

## read & write operations
- df.read_csv("myfile.csv") (for reading a csv file)

In [8]:
df.to_csv("intro-pandas.csv")

#### csv = comma seperated values

In [7]:
df.to_excel("intro-pandas.xlsx")